<!DOCTYPE html>
<html lang="pt-br">
<%- include ('../../partials/head.ejs') %>

    <body>
        <%- include ('../../partials/homenavbar.ejs') %>
            <div class="container">
                <% result.articles.rows.forEach((article)=> {%>
                    <div class="card mb-3">
                        <div class="card-header h-50 d-flex align-items-center">
                            <p class="text-start pt-3">
                                <%= article.title %>
                            </p>
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <a href="/<%= article.slug %>" class="btn btn-success text-center h-50">Ler artigo</a>
                        </div>
                    </div>
                    <% }) %>
                        <div class="row">
                            <div class="col col-12">
                                <% if(result.page> 2) { %>
                                    <a href="/articles/page/<%= result.page - 1 %>" style="float: left">Previous</a>
                                    <% } else if (result.page==2) { %>
                                        <a href="/" style="float: left">Previous</a>
                                        <% } %>
                                            <% if(result.next) { %>
                                                <a href="/articles/page/<%= result.page + 1 %>"
                                                    style="float: right">Next</a>
                                                <% } %>
                            </div>
                        </div>
            </div>
            <%- include ('../../partials/bootstrapScript.ejs') %>
    </body>

</html>